<section class="main-section">
    <div class="container-auto bg-gray-200/30 shadow-md shadow-gray-400 p-3 rounded-2xl">

        <h1 class="section-head font-black">Please Enter Your Email</h1>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" #f="ngForm">
             <div class="relative my-3">
                <input formControlName="email" type="email" id="floating_filled" name="email"
                    class="block rounded-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-500 bg-gray-50 border-0 border-b-2 border-gray-300 appearance-none   focus:outline-none focus:ring-0 focus:border-emerald-500 peer"
                    placeholder=" " />
                <label for="floating_filled"
                    class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-emerald-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email Address</label>
            </div>
            <div class="flex justify-center mt-4">
                <button type="submit"
                    class=" px-3 w-md  font-bold border border-emerald-600 text-emerald-600 py-2 rounded-lg hover:text-white hover:bg-emerald-800 transition"
                    [disabled]="f.invalid">
                    Verify
                </button>
            </div>
        </form>
    </div>
</section>